.label{
    width: 80px;
    height: 40px;
    background-color: rgb(17, 27, 35);
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
}

.input{
    visibility: hidden;

}
body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.circle{
   width: 34px;
   background-color: rgb(243, 241, 241);
   height: 34px;
   border-radius: 50%;
   top: 3px;
   position: absolute;
   left: 3px; 
   animation: toggleOff 0.3s linear forwards;
}

.input:checked +.label{
    background-color: burlywood;
}


.input:checked +.label .circle{
    animation: toggleOn .2s linear forwards;
}


@keyframes toggleOn{
    
0%{
    transform: translateX(0);

}
100%{
    transform: translateX(40px);
}

    
}
@keyframes toggleOff{
    
    0%{
        transform: translateX(40px);
    
    }
    100%{
        transform: translateX(0);
    }
    
        
    }