*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #ecf4fb;
}
.imggallery{
    width: 80%;
margin: 100px auto 50px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
grid-gap:30px ;

}
.imggallery img{
    width: 100%;
    cursor: pointer;
    border: 2px solid;
}
.imggallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 10px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.3);
}
.fullimg{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

}
.fullimg img{
    width: 90%;
    max-width: 500px;

}
.fullimg span{
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

}